/*
Nipper Studio - Security, Compliance and Configuration Reporting
Copyright Titania Limited 2013
https://www.titania.com

The software license should have been provided with this product.
All unlicensed use of Nipper Studio is strictly prohibited. A 
software license can be obtained online from the Titania web site.
*/

body {background-color: #9ffff7; margin: 0px 0px 0.8em; font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 20px; line-height: 1.6em; color: #3F3F3F;}

.frontpage   {padding-top: 10px; padding-bottom: 30px; margin: 10px; text-align: center; line-height: 1.1em;}
.titleauthor {text-align: center; font-size: 32px; color: rgb(32, 74, 135); font-weight: bold;line-height:32px}
.titlename   {text-align: center; font-size: 28px;line-height:28px}
.titledate   {text-align: center; font-size: 15px;}

div.reportpart {margin: 10px; border-top: 1px dotted #3F3F3F; padding-top: 30px;}
div.reportparttitle {margin: 10px; font-size: 24px;}

div.reportsectiontitle         {margin-left: 10px; margin-right: 10px; padding: 3px; font-size: 18px; background-color: #EBE4FF; border: 1px solid #808080; border-radius: 4px 4px 4px 4px;}
div.reportsectiontitlecritical {margin-left: 10px; margin-right: 10px; padding: 3px; font-size: 18px; background-color: #FFD0D3; border: 1px solid #AD0818; border-radius: 4px 4px 4px 4px;}
div.reportsectiontitlehigh     {margin-left: 10px; margin-right: 10px; padding: 3px; font-size: 18px; background-color: #FFE5DB; border: 1px solid #FF5C00; border-radius: 4px 4px 4px 4px;}
div.reportsectiontitlemedium   {margin-left: 10px; margin-right: 10px; padding: 3px; font-size: 18px; background-color: #FFF1D6; border: 1px solid #FFBF00; border-radius: 4px 4px 4px 4px;}
div.reportsectiontitlelow      {margin-left: 10px; margin-right: 10px; padding: 3px; font-size: 18px; background-color: #EAFFB2; border: 1px solid #8DC100; border-radius: 4px 4px 4px 4px;}
div.reportsectiontitleinfo     {margin-left: 10px; margin-right: 10px; padding: 3px; font-size: 18px; background-color: #C8E3D4; border: 1px solid #006300; border-radius: 4px 4px 4px 4px;}
div.reportsectionbody          {margin-left: 20px; margin-right: 20px;}

.reportsubsection    {margin-bottom: 20px;}
.reportsubsection h3 {font-size: 16px; font-weight: normal; color: rgb(32, 74, 135);}
.reportsubsection h4 {text-align: center; font-size: 16px; font-weight: normal; color: rgb(32, 74, 135);}
.reportsubsection p  {margin-left: 20px; margin-right: 20px;}

.contentspart {margin-left: 10px; font-size: 16px;}
.contentssect {margin-left: 20px;}

pre {display: block; padding: 3px; margin: 0px 0px 0.8em 20px; overflow-x: auto; font-size: 12.95px; line-height: 1.6em; word-break: break-all; word-wrap: break-word; white-space: pre; white-space: -moz-pre-wrap; white-space: pre-wrap; white-space: pre9; background-color: rgb(245, 245, 245); border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px; font-family: "Courier New",monospace; color: rgb(99, 99, 99);}
.command {font-family: "Courier New",monospace; font-size: 14px;}
.cmduser {font-style: italic; font-weight: bold;}
.linenumber {color: #102A6C;}
.deleted-line {color: #AD0818;}
.new-line {color: #006300;}

.paragraphtitle      {font-size: 14px; color: rgb(32, 74, 135); font-weight: normal;}
.paragraphtitle p    {margin-bottom: 0px; padding-bottom: 0px;}
.devicespecificnotes {font-style: italic; color: #5B5B5B; border-top: 1px dotted #8DC100; padding-top: 5px;}
canvas.screenshot    {border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px 4px 4px 4px;}
div.screenshot       {text-align: center;font-style: italic; font-size: 12px;}

table {background-color: #F3F3F3; width: 99%; font-size: 13px; border: 1px solid #6E9BCD; border-radius: 4px 4px 4px 4px; margin-bottom: 0px; margin-top: 0px;}
caption {caption-side: bottom; font-style: italic;}
th {background-color: #3769A5; color: #F3F3F3; vertical-align: top; text-align: center; padding: 2px; border: 0px solid #F3F3F3; border-radius: 4px 4px 4px 4px;}
tr.evenrow {background-color: #E3E3E3;}
td {vertical-align: top; text-align: center; padding: 1px; border: 0px solid #F3F3F3; border-radius: 4px 4px 4px 4px;}
.reportsubsection table {margin-left: 20px; margin-right: 20px; width: 98%}

.infoboxright     {float: right; font-size: 13px; line-height: 1.4em; border: 1px solid #AE73A4; border-radius: 4px 4px 4px 4px; margin-top: 5px; margin-left: 5px; margin-bottom: 5px; background-color: #E4DAFF; padding: 5px;}
.infoboxleft      {float: left;  font-size: 13px; line-height: 1.4em; border: 1px solid #AE73A4; border-radius: 4px 4px 4px 4px; margin-top: 5px; margin-left: 5px; margin-bottom: 5px; background-color: #E4DAFF; padding: 5px;}
.infoboxmiddle    {float: none;  font-size: 13px; line-height: 1.4em; border: 1px solid #AE73A4; border-radius: 4px 4px 4px 4px; margin-top: 5px; margin-left: 5px; margin-bottom: 5px; background-color: #E4DAFF; padding: 5px;}
.infoboxtitle     {padding: 3px; font-size: 14px; font-weight: bold;}
.infoboxright ul  {list-style-type: none; padding: 5px; margin-top: 5px; margin-bottom: 0px; border-top: solid; border-width: 1px; border-top-color: #AAAAAA;}
.infoboxright li  {padding-top: 4px; padding-bottom: 1px;}
.infoboxleft ul   {list-style-type: none; padding: 5px; margin-top: 5px; margin-bottom: 0px; border-top: solid; border-width: 1px; border-top-color: #AAAAAA;}
.infoboxleft li   {padding-top: 4px; padding-bottom: 1px;}
.infoboxmiddle ul {list-style-type: none; padding: 5px; margin-top: 5px; margin-bottom: 0px; border-top: solid; border-width: 1px; border-top-color: #AAAAAA;}
.infoboxmiddle li {padding-top: 4px; padding-bottom: 1px;}

.rating {float: right; font-size: 13px; line-height: 1.4em; border: 1px solid #AE73A4; border-radius: 4px 4px 4px 4px; margin-top: 5px; margin-left: 5px; margin-bottom: 5px; background-color: #E4DAFF; padding: 5px;}
.overall {padding: 3px; font-size: 14px; font-weight: bold;}
.rating ul {list-style-type: none; padding: 5px; margin-top: 5px; margin-bottom: 0px; border-top: solid; border-width: 1px; border-top-color: #AAAAAA;}
.rating li {padding-top: 4px; padding-bottom: 1px;}


div.classification {float: none; font-size: 14px; background-color: #3F3F3F; color: #F6F8FF; text-align:center; text-transform:uppercase; padding-top: 1px; padding-bottom: 3px; margin: 10px; border: 0px solid #F3F3F3; border-radius: 4px 4px 4px 4px;}

a:link {color: #102A6C; text-decoration: none;}
a:visited {color: #102A6C; text-decoration: none;}
a:hover {color: green; text-decoration: none;}

.rate-crit {color: #AD0818; text-transform:uppercase; font-weight: bold;}
.rate-high {color: #FF5C00; text-transform:uppercase; font-weight: bold;}
.rate-med {color: #FFBF00; text-transform:uppercase; font-weight: bold;}
.rate-low {color: #8DC100; text-transform:uppercase; font-weight: bold;}
.rate-info {color: #006300; text-transform:uppercase; font-weight: bold;}

.rate-triv {color: #AD0818; text-transform:uppercase; font-weight: bold;}
.rate-ease {color: #FF5C00; text-transform:uppercase; font-weight: bold;}
.rate-mod {color: #FFBF00; text-transform:uppercase; font-weight: bold;}
.rate-chal {color: #8DC100; text-transform:uppercase; font-weight: bold;}
.rate-na {color: #006300; text-transform:uppercase; font-weight: bold;}

.rate-invol {color: #AD0818; text-transform:uppercase; font-weight: bold;}
.rate-plan {color: #FFBF00; text-transform:uppercase; font-weight: bold;}
.rate-quick {color: #006300; text-transform:uppercase; font-weight: bold;}

.color-red {color: #AD0818;}
.color-amber {color: #FF5C00;}
.color-yellow{color: #FFBF00;}
.color-green {color: #006300;}

table.graphs {background-color: #FFFFFF; width: 100%; font-size: 14px; font-weight: normal; border: 0px solid #FFFFFF; color: #3F3F3F;}
.RGraph_tooltip {font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; color: #3F3F3F;}
.tooltip{display: inline; position: relative; }
.tooltip:hover:after{background: #333; background: rgba(0,0,0,.8); border-radius: 5px; bottom: 26px; color: #fff; content: attr(tooltip); left: 20%; padding: 2px; position: absolute; z-index: 98; width: 240px; }